footer {
  background-color: hsl(260, 8%, 14%);
  color: hsl(0, 0%, 75%);
  padding: 3rem 2rem;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.footer-logo h1 {
  color: hsl(0, 0%, 75%);
  font-weight: 700;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer-links > div h4 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: hsl(0, 0%, 75%);
}
.footer-links > div ul {
  list-style: none;
  padding: 0;
}
.footer-links > div li {
  margin-bottom: 0.6rem;
}
.footer-links > div a {
  color: hsl(257, 7%, 63%);
  text-decoration: none;
  font-size: 0.9rem;
}
.footer-links > div a:hover {
  color: hsl(180, 66%, 49%);
}
.socials {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.socials img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.socials img:hover {
  background-color: hsl(180, 66%, 49%);
}

/* desktop layout */
@media (min-width: 50em) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: start;
    text-align: left;
    padding: 0 50px;
  }
  .footer-logo {
    margin-right: 30px;
  }
  .footer-links {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
  }
  .socials {
    justify-content: flex-end;
  }
}
