:root {
  /* Primary */
  --blue-400: hsl(180, 66%, 49%);
  --light-blue-400: hsl(179, 56%, 75%);
  --purple-950: hsl(257, 27%, 26%);

  --white: hsl(0, 0%, 100%);

  /* Secondary */
  --red-400: hsl(0, 87%, 67%);

  /* Neutral */

  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/*  ----------- Toast ---------- */
#toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #111;
  color: #fff;
  padding: 12px 16px;
  border-radius: 6px;
  display: none;
}

#toast.error {
  background: #c0392b;
}

#toast.success {
  background: #00A73E;
}

#toast.warning {
  background: #f39c12;
}

#toast.show {
  display: block;
  animation: fadeInOut 3s forwards;
}

/* Loading state */
button.loading {
  opacity: 0.6;
  pointer-events: none;
}

@keyframes fadeInOut {
  0% {
    transform: translateY(-20px);
  }
  10%,
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0px);
  }
}
