:root {
  /* Primary */
  --blue-400: hsl(180, 66%, 49%);
  --purple-950: hsl(257, 27%, 26%);

  /* Secondary */
  --red-400: hsl(0, 87%, 67%);

  /* Neutral */

  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
}

header {
  padding: 1.5rem 0;
  position: relative;
}

.header_container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header_container .logo_and_links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo_and_links img {
  width: 94px;
}

.logo_and_links ul {
  list-style: none;
  display: none;
  align-items: center;
  gap: 2rem;
}

.logo_and_links a {
  color: var(--gray-500);
  font-size: 0.95rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.logo_and_links a:hover {
  color: var(--gray-950);
}

.auth_btns {
  display: none;
  align-items: center;
  gap: 1rem;
}

.auth_btns button {
  font-weight: 700;
  font-size: 0.95rem;
  border: none;
  border-radius: 18px;
  background-color: white;
  cursor: pointer;
  color: var(--gray-500);
  padding: 0.65rem 1.25rem;
}

.auth_btns button:last-of-type {
  background-color: var(--blue-400);
  color: white;
}

.auth_btns button:last-of-type:hover {
  background-color: var(--light-blue-400);
}

.menu_icon {
  display: block;
  cursor: pointer;
}

.menu_icon img {
  width: 28px;
}

.mobile_nav {
  background-color: var(--purple-950);
  color: white;
  border-radius: 12px;
  padding: 2.5rem 1.5rem;
  width: 100%;
  max-width: 90%;
  margin: 1rem auto 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 4rem;
  right: 1rem;
  transition: all 0.3s ease-in;
}

.show_mobile_nav {
  visibility: visible;
  opacity: 1;
}

.mobile_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
  padding-bottom: 2rem;
}

.mobile_nav ul a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.mobile_nav ul a:hover {
  color: var(--gray-400);
}

.mobile_auth_btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.mobile_auth_btns button {
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 28px;
  background-color: var(--purple-950);
  cursor: pointer;
  color: white;
  padding: 0.75rem 1.25rem;
}

.mobile_auth_btns button:last-of-type {
  background-color: var(--blue-400);
  color: white;
}

.mobile_auth_btns button:last-of-type:hover {
  background-color: var(--light-blue-400);
}

@media screen and (min-width: 400px) {
  .mobile_nav {
    max-width: 300px;
    margin: 1rem 1rem 0 auto;
  }
}

@media screen and (min-width: 940px) {
  header {
    padding: 1.5rem;
  }

  .logo_and_links img {
    width: 120px;
  }

  .logo_and_links ul {
    display: flex;
  }

  .menu_icon {
    display: none;
  }

  .auth_btns {
    display: flex;
  }
}
