:root {
  /* Primary */
  --blue-400: hsl(180, 66%, 49%);
  --purple-950: hsl(257, 27%, 26%);

  /* Secondary */
  --red-400: hsl(0, 87%, 67%);

  /* Neutral */

  --gray-400: hsl(0, 0%, 75%);
  --gray-500: hsl(257, 7%, 63%);
  --gray-900: hsl(255, 11%, 22%);
  --gray-950: hsl(260, 8%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
/* UTILITIES */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  background: #fff;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--gray-500);
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--gray-900);
}

img {
  font-size: 1.8rem;
  font-weight: 700;
}

.auth {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 1.5rem;
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 600;
}

.signup {
  background: #2acfcf;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* HERO */
.hero {
  background: #fff;
  padding: 4rem 0 6rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  color: #9e9aa7;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cta-btn {
  background: #2acfcf;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.hero-image {
  position: relative;
  right: -60px;
}

.hero-image img {
  width: 100%;
  max-width: 450px;
}

/* SHORTEN BOX */
.shorten {
  margin-top: -3rem;
}

.shorten-box {
  background: #3b3054;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}

.shorten-box input {
  flex: 1;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.shorten-box button {
  background: #2acfcf;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.error-msg {
  color: var(--red-400);
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .shorten-box {
    flex-direction: column;
  }
}
