/* HERO */
.hero {
  background: #ffffff;
}

.hero-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 95%;
  margin: 0 auto;
  row-gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 400px; */
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  text-align: center;
}

.hero-text p {
  color: #9e9aa7;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  padding: 0.75rem 0.5rem 0;
}

.cta-btn {
  background: #2acfcf;
  border: none;
  padding: 0.9rem 2.5rem;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: var(--light-blue-400);
}

.hero-image {
  position: relative;
  width: 100%;
  max-width: 600px;
  /* right: -60px; */
}

.hero-image img {
  width: 100%;
  object-fit: cover;
}

/* -------------- URL Shortener ------------- */
#url_shortener_id {
  scroll-margin: 110px;
}

.input_wrapper {
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: cover;
  background-color: var(--purple-950);
  padding: 1.35rem;
  border-radius: 8px;
  position: relative;
  top: -60px;
}

.input_wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input_error_message {
  color: var(--red-400);
  display: none;
  font-size: 0.85rem;
  margin-top: 0.35rem;
  text-align: start;
}

.show_input_error_message {
  display: block;
}

.url_input {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--white);
  width: 100%;
}

.url_input:focus {
  border: 2px solid var(--blue-400);
}

.url_input::placeholder {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 1rem;
}

.input_error {
  border: 2px solid red;
}

.input_wrapper button {
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  white-space: nowrap;
  background-color: var(--blue-400);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.input_wrapper button:hover {
  background-color: var(--light-blue-400);
}

.urls_wrapper {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.url {
  background-color: var(--white);
  border-radius: 6px;
  padding: 0.85rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0.65rem 0;
  position: relative;
  top: -55px;
}

.url_actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.url .delete_url_btn {
  border: none;
  border-radius: 5px;
  padding: 0.45rem 1.25rem;
  white-space: nowrap;
  background-color: var(--red-400);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.url .delete_url_btn:hover {
  background-color: #f46262b7;
}

.clear_all_btn {
  border: none;
  border-radius: 5px;
  padding: 0.45rem 1.25rem;
  white-space: nowrap;
  background-color: var(--red-400);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: -60px;
  margin-left: auto;
  align-items: flex-end;
  display: none;
}

.clear_all_btn:hover {
  background-color: #f46262b7;
}

.url .original_url {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray-950);
  text-align: start;
}

.url .shortened_url_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.url .shortened_url {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--blue-400);
}

.url .copy_url_btn {
  border: none;
  border-radius: 5px;
  padding: 0.45rem 1.25rem;
  white-space: nowrap;
  background-color: var(--blue-400);
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.url .copy_url_btn:hover {
  background-color: var(--purple-950);
}

@media screen and (min-width: 1100px) {
  .hero-content {
    padding-left: 12.5rem;
    padding-top: 3rem;
    flex-direction: row;
    width: 100%;
  }

  .hero-text h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    text-align: start;
  }

  .hero-text p {
    max-width: 85%;
    font-size: 1.1rem;
    text-align: start;
  }

  .url {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .hero-image {
    max-width: unset;
  }

  .hero-text {
    align-items: flex-start;
    max-width: unset;
  }
}

@media screen and (min-width: 760px) {
  .input_wrapper {
    width: 70%;
    padding: 2rem 2.5rem;
  }

  .urls_wrapper {
    width: 70%;
  }

  .url .shortened_url_wrapper {
    flex-direction: row;
  }

  .url .original_url {
    font-size: 1rem;
  }

  .url .shortened_url {
    font-size: 1rem;
  }

  .input_wrapper div {
    flex-direction: row;
  }

  .input_wrapper button {
    width: fit-content;
  }
}
